USE [master]
GO
/****** Object:  Database [stereoHeart]    Script Date: 18.06.2021 18:04:50 ******/
CREATE DATABASE [stereoHeart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'stereoHeart', FILENAME = N'D:\SQL Server 2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\stereoHeart.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'stereoHeart_log', FILENAME = N'D:\SQL Server 2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\stereoHeart_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [stereoHeart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [stereoHeart]
GO
/****** Object:  Table [dbo].[TblAlbum]    Script Date: 18.06.2021 18:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAlbum](
	[albumID] [int] NOT NULL,
	[albumTitle] [varchar](40) NOT NULL,
	[artistID] [int] NOT NULL,
	[year] [int] NOT NULL,
	[artistName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TblAlbum] PRIMARY KEY CLUSTERED 
(
	[albumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblArtist]    Script Date: 18.06.2021 18:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblArtist](
	[artistID] [int] NOT NULL,
	[artistName] [varchar](50) NOT NULL,
	[country] [varchar](20) NOT NULL,
	[style] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TblArtist] PRIMARY KEY CLUSTERED 
(
	[artistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPlaylist]    Script Date: 18.06.2021 18:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPlaylist](
	[playlistID] [int] NOT NULL,
	[playlistName] [varchar](50) NOT NULL,
	[userID] [int] NULL,
 CONSTRAINT [PK_TblPlaylist] PRIMARY KEY CLUSTERED 
(
	[playlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTrack]    Script Date: 18.06.2021 18:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTrack](
	[trackID] [int] NOT NULL,
	[trackName] [varchar](30) NOT NULL,
	[albumID] [int] NOT NULL,
	[duration] [float] NOT NULL,
	[playlistID] [int] NOT NULL,
	[artistID] [int] NOT NULL,
	[style] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TblTrack] PRIMARY KEY CLUSTERED 
(
	[trackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblUser]    Script Date: 18.06.2021 18:04:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblUser](
	[userID] [int] NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[country] [varchar](20) NOT NULL,
	[phone] [varchar](25) NOT NULL,
	[email] [varchar](40) NOT NULL,
	[address] [varchar](60) NOT NULL,
	[postaCode] [varchar](15) NOT NULL,
 CONSTRAINT [PK_TblUser] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblAlbum]  WITH CHECK ADD  CONSTRAINT [FK_TblAlbum_TblArtist] FOREIGN KEY([artistID])
REFERENCES [dbo].[TblArtist] ([artistID])
GO
ALTER TABLE [dbo].[TblAlbum] CHECK CONSTRAINT [FK_TblAlbum_TblArtist]
GO
ALTER TABLE [dbo].[TblPlaylist]  WITH CHECK ADD  CONSTRAINT [FK_TblPlaylist_TblUser] FOREIGN KEY([userID])
REFERENCES [dbo].[TblUser] ([userID])
GO
ALTER TABLE [dbo].[TblPlaylist] CHECK CONSTRAINT [FK_TblPlaylist_TblUser]
GO
ALTER TABLE [dbo].[TblTrack]  WITH CHECK ADD  CONSTRAINT [FK_TblTrack_TblAlbum] FOREIGN KEY([albumID])
REFERENCES [dbo].[TblAlbum] ([albumID])
GO
ALTER TABLE [dbo].[TblTrack] CHECK CONSTRAINT [FK_TblTrack_TblAlbum]
GO
ALTER TABLE [dbo].[TblTrack]  WITH CHECK ADD  CONSTRAINT [FK_TblTrack_TblArtist] FOREIGN KEY([artistID])
REFERENCES [dbo].[TblArtist] ([artistID])
GO
ALTER TABLE [dbo].[TblTrack] CHECK CONSTRAINT [FK_TblTrack_TblArtist]
GO
ALTER TABLE [dbo].[TblTrack]  WITH CHECK ADD  CONSTRAINT [FK_TblTrack_TblPlaylist] FOREIGN KEY([playlistID])
REFERENCES [dbo].[TblPlaylist] ([playlistID])
GO
ALTER TABLE [dbo].[TblTrack] CHECK CONSTRAINT [FK_TblTrack_TblPlaylist]
GO
USE [master]
GO
